outdated~=0.2.1
pint~=0.16.1
tabulate~=0.8.9
path~=15.1.2
shapely~=1.7.1
numpy~=1.20.1
matplotlib~=3.4.2
pandas~=1.2.2  # because of io.common methods
sympy~=1.5.1  # because of specific expression parsing
beautifulsoup4~=4.9.3
lxml~=4.6.3